.container{
  margin-top: 100px;
}

/* BLOCCO LEZIONI */

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .container>.first,
#why .container>.second,
#why .container>.third {
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 991px){

  .container{
    padding: 0 5px;
    margin-top: 50px;
  }

  #steps .container>.right {
    margin-top: 30px;
  }

  #lezioni .container img {
    height:160px;
}

  #steps .container img {
    height: 160px;
}

  #why .container img {
    height: 160px;
}

  h1{
    font-size: 25px;
}

  p{
    font-size:15px;
  }

  h3{
    font-size: 18px;
}

  #why .container>.first,
  #why .container>.second,
  #why .container>.third {
    margin-top: 65px;
}

}

@media screen and (max-width: 767px) {

  #lezioni .container>.right{
    margin-top: 20px;
  }

  #steps .container>.central,
  #steps .container>.right {
    margin-top: 20px;
  }

  #lezioni .container img {
    height :120px;
}

  #steps .container img{
    height: 120px;
}

  #why .container img {
    height: 120px;
}

  h1{
    font-size: 22px;
  }

  p{
    font-size:15px;
  }

  h3{
    font-size: 17px;
  }

  #why .container>.first,
  #why .container>.second,
  #why .container>.third {
    margin-top: 50px;
  }

}
